<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/site.css" type="text/css">
    <link rel="stylesheet" href="/animation.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>joshua cunningham</title>

    <link rel="icon" type="image/png" href="img/drone icon.ico" />

</head>

<header>
    <nav class="navbar navbar-inverse" data-spy="affix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <a class="navbar-brand minilogo"><img src="img/dronegrey.png" style="height: 26px; width: 26px;"></a>
                    </div>
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="/">&nbsp;&nbsp;home&nbsp;&nbsp;</a></li>
                        <li><a href="#c++">&nbsp;&nbsp;&nbsp;c++&nbsp;&nbsp;&nbsp;</a></li>
                        <li><a href="#web">web dev</a></li>
                        <li><a href="#java">&nbsp;&nbsp;&nbsp;java&nbsp;&nbsp;&nbsp;</a></li>
                        <li><a href="#design">design</a></li>
                        <li><a href="#sql">&nbsp;&nbsp;&nbsp;sql&nbsp;&nbsp;&nbsp;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
    {{{body}}}
</body>

<footer>

</footer>

</html>