<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <img src="img/me2.png" style="height: 100%; width: 100%; margin-bottom: -10%;">
                <h3 class="page-header">Joshua Cunningham</h3>
                <strong class="text-muted">Full Stack Developer / Graphic Designer</strong>
                <p>Seneca College Computer Programming &amp; Analysis</p>
                <a href="https://www.github.com/joshcunningsworth"><i class="fa fa-github"></i></a>
                <a href="mailto:joshcunningsworth@gmail.com"><i class="fa fa-google"></i></a>
                <a href="https://www.linkedin.com/in/joshcunningsworth"><i class="fa fa-linkedin"></i></a>                
                <a href="skype:joshcunningsworth?userinfo"><i class="fa fa-skype"></i></a>
            </div>
        </div>
    </div>
</div>