<div id="home" class="sec1">
    <div class="container">
        <div class="page-header" id="homeheader">
            <br/><br/><br/>
            <div class="row">
                <div class="col-md-4">
                    <h1 id="titlename">Joshua Cunningham</br><small>programmer / graphic designer</small></h1>
                </div>
                <div class="drone col-md-4">
                    <img class="logo" src="img/droneblack.png" alt="Drone Logo" style="height: 80px; width: 80px; display: block; margin: 0 auto;">
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail me" src="img/me4.png" alt="Self-Portrait" data-toggle="modal" data-target="#mycard">

            <div id="mycard" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Joshua Cunningham</h4><small>programmer / graphic designer</small>
                        </div>
                        <div class="modal-body">
                            <img class="center-block" src="img/me6.png" alt="Self-Portrait" style="width: 75%; height: 75%;">
                        </div>
                        <div class="modal-footer mycard">
                            <a href="https://www.github.com/joshcunningsworth"><i class="fa fa-github"></i></a>
                            <a href="mailto:joshcunningsworth@gmail.com"><i class="fa fa-google"></i></a>
                            <a href="https://www.linkedin.com/in/joshcunningsworth"><i class="fa fa-linkedin"></i></a>
                            <a href="skype:joshcunningsworth?userinfo"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="social">
                    <span><a href="https://www.github.com/joshcunningsworth" class="fa fa-github"></a></span>
                    <span><a href="mailto:joshcunningsworth@gmail.com" class="fa fa-google"></a></span>
                    <span><a href="https://www.linkedin.com/in/joshcunningsworth" class="fa fa-linkedin"></a></span>
                    <span><a href="skype:joshcunningsworth?userinfo" class="fa fa-skype"></a></span>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <h4 id="bio"><small>Graduated with an Ontario Advanced Diploma in Computer Programming &amp; Analysis interested
                in a programming or graphic design related position. I'm eager to participate in a new working environment as
                an individual but also as a team player.<br/><br/>
                The graph below shows the years of experience with different skills &amp; programming languages.
                It includes time spent studying in school along with practical work experience.
            </small></h4>

            <div>
                <small><p class="minexp">> 1 year experience</p>
                <p class="maxexp">5 years experience</p></small>
            </div>
            <hr style="margin-top: -1%;">
            <div class="skill" style="margin-top: -1%;">
                <p class="skill">C++</p>
            </div>
            <div class="progress overall">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                </div>
                <div>
                    <span class="yrsexp">3 years</span>
                </div>
            </div>

            <div class="skill">
                <p class="skill">Web Development</p>
            </div>
            <div class="progress overall">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                </div>
                <div>
                    <span class="yrsexp">4 years</span>
                </div>
            </div>

            <div class="skill">
                <p class="skill">Java</p>
            </div>
            <div class="progress overall">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                </div>
                <div>
                    <span class="yrsexp">2.5 years</span>
                </div>
            </div>

            <div class="skill">
                <p class="skill">Graphic Design</p>
            </div>
            <div class="progress overall">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                </div>
                <div>
                    <span class="yrsexp">4.5 years</span>
                </div>
            </div>

            <div class="skill">
                <p class="skill">SQL</p>
            </div>
            <div class="progress overall">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                </div>
                <div>
                    <span class="yrsexp">3.5 years</span>
                </div>
            </div>

        </div>
    </div>
</div>


<div id="cpp" class="sec2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2 class="headings"><kbd id="c++">c++</kbd></h2>
                <br/>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-5 snippet">
                <img class="img-thumbnail center-block" src="img/gradingapp.png" alt="Grading Application Code Snippet" data-toggle="modal"
                    data-target="#gradingapp">

                <div id="gradingapp" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Grading Application</h4>
                            </div>
                            <div class="modal-body">
                                <img class="center-block" src="img/gradingapp.png" alt="Grading Application Code Snippet">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">***github link coming soon***</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-7">
                <h4>Grading Application</h4>This program uses a lambda expression to define an operation on a set of values then
                it reads the values from a file and displays them to the user. It takes the student ID and grades from the
                file and calculates what the student's letter grade would be.</br>
                </br>For example: if the student has an 80 - 89 in the course their letter grade would be an A, or if they have
                a 90 - 100 their letter grade would be an A+. This application would be useful for calculating student grades
                and averages. It's also practical for parsing through files and outputting the data. An example of the program
                reading the data from a file and outputing would look similar to the example below.</br>
                </br>
                <pre><code>
            Data in file being read:
            <i>1024576 51.37
            1243395 94
            1269780 73.8</i>

            Output from the program:
            1024576 51.37 D
            1243395 94.00 A+
            1269780 73.80 B
                </code></pre>
            </div>
        </div>

        <hr style="margin: 5% 0 5% 0;">

        <div class="row">
            <div class="col-md-5 snippet">
                <img class="img-thumbnail center-block" src="img/receiptapp.png" alt="Receipt Application Code Snippet" data-toggle="modal"
                    data-target="#receiptapp">

                <div id="receiptapp" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Receipt Application</h4>
                            </div>
                            <div class="modal-body">
                                <img class="center-block" src="img/receiptapp.png" alt="Receipt Aapplication Code Snippet">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">***github link coming soon***</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <h4>Receipt Application</h4>This program will accept a number of receipts the user enters, the name of the store
                that particular receipt is from and the number of items purchased at that store. The user will then enter
                the price of the items purchased. The results will be calculated and displayed to the user.</br>
                </br>This application can be used for entering multiple receipts at a time for tax purposes. An example of the
                inputs in italics and the calculated outputs are shown below.</br>
                </br>
                <pre><code>
            Number of Receipts: <i>1</i>
            Name of store: <i>CunninghamConvenience</i>
            Number of items: <i>2</i>

            Prices: 
            Item 1: <i>5.67</i>
            Item 2: <i>3.99</i>

            +--- Results ---+
            CunninghamConvenience
            5.67
            3.99
            Total: 9.66
                </code></pre>
            </div>
        </div>

        <hr style="margin: 5% 0 5% 0;">

        <div class="row">
            <div class="col-md-5 snippet">
                <img class="img-thumbnail center-block" src="img/gardenapp.png" alt="Garden Application Code Snippet" data-toggle="modal"
                    data-target="#gardenapp">

                <div id="gardenapp" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Garden Application</h4>
                            </div>
                            <div class="modal-body">
                                <img class="center-block" src="img/gardenapp.png" alt="Garden Application Code Snippet">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">***github link coming soon***</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <h4>Garden Application</h4>This program will allow a user to virtually plan a garden. They can enter the size
                of the garden and where they want crops/plants to be planted. It will accept a character symbol that represents
                the crop/plant in the garden.</br>
                </br>For example: 'c' could symbolize carrots and the user could decide to enter 'w' as a new crop of wheat, assuming
                no other crops were using that character because each crop requires a unique symbol that cannot be shared.
                The user can add crops to their garden setup and view what has already been planted. The view of the garden
                is output in a text based grid with crops inside that looks similar to the grid below.</br>
                </br>
                <pre><code>
            +------------------------+
            |               wwww     |
            |      cc       wwww     |
            |      cc                |
            |      cc             cc |
            | cc                  cc |
            | cc        wwww      cc |
            | cc        wwww         |
            |                        |
            +------------------------+
                </code></pre>
            </div>
        </div>
    </div>
</div>

<div id="web" class="sec3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2 class="headings"><kbd>web development</kbd></h2>
                <br/>
            </div>
        </div>
    </div>

    <div class="webdev">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img src="img/climateking.png" alt="Climate King Heating & Air Inc." style="width:100%; height: 100%;">
                </div>

                <div class="col-md-7">
                    <h4>Climate King Heating &amp; Air Inc.</h4>Worked on contract for 3 months as a junior full stack developer
                    I worked with the company and with help from other developers and designers we were able to achieve a
                    clean rebrand on the Climate King website.<br/><br/>HTML, CSS, and JavaScript were used to develop the
                    content, style, and functionality of the website.
                </div>
            </div>

            <hr style="margin: 5% 0 5% 0;">

            <div class="row">
                <div class="col-md-5">
                    <img src="img/senecacoop.png" alt="Seneca Co-op Replica Application Form" style="width:100%; height: 100%;">
                </div>

                <div class="col-md-7">
                    <h4>Seneca Co-op Application Form</h4> A project completed during my studies at Seneca College meant to be
                    an exact replica of the co-op application form they were using at the time.<br/><br/>The form uses HTML
                    for the page content, CSS for the minimal style, JavaScript for alert functionality, and PHP for secure
                    password data using salt hashing.
                </div>
            </div>

            <hr style="margin: 5% 0 5% 0;">

            <div class="row">
                <div class="col-md-5">
                    <img src="img/joshcunningsworth.png" alt="Seneca Co-op Replica Application Form" style="width:100%; height: 100%;">
                </div>

                <div class="col-md-7">
                    <h4>Online Portfolio Webpage</h4> An ongoing personal project to showcase some of my achievements, skills,
                    and work.<br/><br/>The portfolio uses HTML for the page content, CSS &amp; Bootstrap for the styling,
                    and also uses some JavaScript &amp; jQuery for specific functionalities. The portfolio is setup with
                    Heroku and I used Node.js to setup the server. I use git to commit changes and push them to Heroku and
                    Github.
                    <br/><br/><br/>
                    <small><i class="glyphicon glyphicon-arrow-left"></i>&nbsp; you are here!</small>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="java" class="sec4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2 class="headings"><kbd>java</kbd></h2>
                <p style="text-align: center;"> ***Content will be added soon!*** </p>
                <br/>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                ***Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla vel felis at tempus. Sed in justo augue. Etiam
                vestibulum vitae est ut mattis. Duis bibendum neque nec quam maximus, at tincidunt nisi interdum. Integer
                mattis elit facilisis mattis fringilla. Duis id varius tortor. Donec nec bibendum enim. Integer bibendum
                fermentum nulla id vehicula. Mauris mattis blandit interdum. Ut luctus elementum pellentesque. Cras vulputate
                ante neque, finibus feugiat nunc sollicitudin ut. Etiam id ex tortor. Mauris vel risus dictum, aliquam nunc
                a, tincidunt nisl.***
            </div>

            <div class="col-md-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla vel felis at tempus. Sed in justo augue. Etiam
                vestibulum vitae est ut mattis. Duis bibendum neque nec quam maximus, at tincidunt nisi interdum. Integer
                mattis elit facilisis mattis fringilla. Duis id varius tortor. Donec nec bibendum enim. Integer bibendum
                fermentum nulla id vehicula. Mauris mattis blandit interdum. Ut luctus elementum pellentesque. Cras vulputate
                ante neque, finibus feugiat nunc sollicitudin ut. Etiam id ex tortor. Mauris vel risus dictum, aliquam nunc
                a, tincidunt nisl.
            </div>

            <div class="col-md-4">
                ***Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla vel felis at tempus. Sed in justo augue. Etiam
                vestibulum vitae est ut mattis. Duis bibendum neque nec quam maximus, at tincidunt nisi interdum. Integer
                mattis elit facilisis mattis fringilla. Duis id varius tortor. Donec nec bibendum enim. Integer bibendum
                fermentum nulla id vehicula. Mauris mattis blandit interdum. Ut luctus elementum pellentesque. Cras vulputate
                ante neque, finibus feugiat nunc sollicitudin ut. Etiam id ex tortor. Mauris vel risus dictum, aliquam nunc
                a, tincidunt nisl.***
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="padding-bottom: 1%;">
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="hero-image gfx sec5" id="design">
    <div id="glitch">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="gfxmobile sec5 headings"><kbd>graphic design</kbd></h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail center-block gfxgrid" src="img/avenge.png" alt="Avenge Motion Graphic" data-toggle="modal" data-target="#avengegraphic">
            <div id="avengegraphic" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Avenge Motion Graphic</h4>
                        </div>
                        <div class="modal-body">
                            <div class="center-block embedvid">
                                <iframe class="center-block" src="https://www.youtube.com/embed/PhaSMB4mFl8?ecver=1" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <img class="img-thumbnail center-block gfxgrid" src="img/glitchkatakana.png" alt="Glitch Digital Photo Edit" data-toggle="modal"
                data-target="#glitchkatakana">
            <div id="glitchkatakana" class="modal fade" role="dialog">
                <div class="modal-dialog modalgrid">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Glitch Digital Photo Edit</h4>
                        </div>
                        <div class="modal-body">
                            <img class="center-block gfxgrid" src="img/glitchkatakana.png" alt="Glitch Digital Photo Edit">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <img class="img-thumbnail center-block gfxgrid" src="img/jerseymockup.png" alt="Mockup Sports Jersey Logo" data-toggle="modal"
                data-target="#mockupjersey">
            <div id="mockupjersey" class="modal fade" role="dialog">
                <div class="modal-dialog modalgrid">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Mockup Sports Jersey Logo</h4>
                        </div>
                        <div class="modal-body">
                            <img class="center-block gfxgrid" src="img/jerseymockup.png" alt="Mockup Sports Jersey Logo">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of 1st grid column -->

        <div class="col-md-4">
            <img class="img-thumbnail center-block gfxgrid" src="img/platinum.png" alt="Platinum Image Film Production Logo" data-toggle="modal"
                data-target="#platinumlogo">
            <div id="platinumlogo" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Platinum Image Film Production Logo</h4>
                        </div>
                        <div class="modal-body">
                            <div class="center-block embedvid">
                                <iframe class="center-block" src="https://www.youtube.com/embed/B0dO4184aKY?ecver=1" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <img class="img-thumbnail center-block gfxgrid" src="img/singed.png" alt="Singed Digital Photo Edit" data-toggle="modal"
                data-target="#singed">
            <div id="singed" class="modal fade" role="dialog">
                <div class="modal-dialog modalgrid">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Singed Digital Photo Edit</h4>
                        </div>
                        <div class="modal-body">
                            <img class="center-block gfxgrid" src="img/singed.png" alt="Singed Digital Photo Edit">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <img class="img-thumbnail center-block gfxgrid" src="img/hatkatakana.png" alt="Mockup Winter Hat Logo" data-toggle="modal"
                data-target="#boxmockup1">
            <div id="boxmockup1" class="modal fade" role="dialog">
                <div class="modal-dialog modalgrid">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Mockup Winter Hat Logo</h4>
                        </div>
                        <div class="modal-body">
                            <img class="center-block gfxgrid" src="img/hatkatakana.png" alt="Mockup Winter Hat Logo">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of 2nd grid column -->

        <div class="col-md-4">

            <img class="img-thumbnail center-block gfxgrid" src="img/oceanposters.png" alt="Ocean Graffiti Poster Edit" data-toggle="modal"
                data-target="#oceanposters">
            <div id="oceanposters" class="modal fade" role="dialog">
                <div class="modal-dialog modalgrid">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Ocean Graffiti Poster Edit</h4>
                        </div>
                        <div class="modal-body">
                            <img class="center-block gfxgrid" src="img/oceanposters.png" alt="Ocean Graffiti Poster Edit">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <img class="img-thumbnail center-block gfxgrid" src="img/mockupboxes.png" alt="Mockup Packaging Cardboard Box" data-toggle="modal"
                data-target="#boxmockup2">
            <div id="boxmockup2" class="modal fade" role="dialog">
                <div class="modal-dialog modalgrid">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Mockup Packaging Cardboard Box</h4>
                        </div>
                        <div class="modal-body">
                            <img class="center-block gfxgrid" src="img/boxmockup2.png" alt="Mockup Packagaing Carboard Box">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <img class="img-thumbnail center-block gfxgrid" src="img/brochuremockup.png" alt="Mockup Brochure Catalogue" data-toggle="modal"
                data-target="#brochuremockup">
            <div id="brochuremockup" class="modal fade" role="dialog">
                <div class="modal-dialog modalgrid">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Mockup Brochure Catalogue</h4>
                        </div>
                        <div class="modal-body">
                            <img class="center-block gfxgrid" src="img/brochuremockup.png" alt="Mockup Brochure Catalogue">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of 3rd grid column -->
    </div>
</div>


<div id="sql" class="sec6">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2 class="headings" style="text-align: center;"><kbd>SQL</kbd></h2>
                <p style="text-align: center;"> ***Content will be added soon!*** </p>
                <br/>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                ***Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla vel felis at tempus. Sed in justo augue. Etiam
                vestibulum vitae est ut mattis. Duis bibendum neque nec quam maximus, at tincidunt nisi interdum. Integer
                mattis elit facilisis mattis fringilla. Duis id varius tortor. Donec nec bibendum enim. Integer bibendum
                fermentum nulla id vehicula. Mauris mattis blandit interdum. Ut luctus elementum pellentesque. Cras vulputate
                ante neque, finibus feugiat nunc sollicitudin ut. Etiam id ex tortor. Mauris vel risus dictum, aliquam nunc
                a, tincidunt nisl.***
            </div>

            <div class="col-md-4">
                ***Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla vel felis at tempus. Sed in justo augue. Etiam
                vestibulum vitae est ut mattis. Duis bibendum neque nec quam maximus, at tincidunt nisi interdum. Integer
                mattis elit facilisis mattis fringilla. Duis id varius tortor. Donec nec bibendum enim. Integer bibendum
                fermentum nulla id vehicula. Mauris mattis blandit interdum. Ut luctus elementum pellentesque. Cras vulputate
                ante neque, finibus feugiat nunc sollicitudin ut. Etiam id ex tortor. Mauris vel risus dictum, aliquam nunc
                a, tincidunt nisl.***
            </div>

            <div class="col-md-4">
                ***Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla vel felis at tempus. Sed in justo augue. Etiam
                vestibulum vitae est ut mattis. Duis bibendum neque nec quam maximus, at tincidunt nisi interdum. Integer
                mattis elit facilisis mattis fringilla. Duis id varius tortor. Donec nec bibendum enim. Integer bibendum
                fermentum nulla id vehicula. Mauris mattis blandit interdum. Ut luctus elementum pellentesque. Cras vulputate
                ante neque, finibus feugiat nunc sollicitudin ut. Etiam id ex tortor. Mauris vel risus dictum, aliquam nunc
                a, tincidunt nisl.***
            </div>
        </div>
    </div>