<div class="headcontainer">
    <div class="page-header" id="homeheader">
        <div class="row">
            <div class="col-md-4">
                <h1 id="titlename">Joshua Cunningham</br><small>programmer / grpahic designer</small></h1>
            </div>
            <div class="drone col-md-4">
                <img class="logo" src="img/drone logo black.png" style="	height: 75px;
	width: 75px; margin-left: 32%;">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>

<div class="bodycontainer">
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" data-toggle="collapse" data-target="#option1">Code Snippets</button>
            <div id="option1" class="collapse">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed pellentesque elit, id efficitur neque. In hac habitasse
                platea dictumst. Suspendisse interdum dapibus purus, malesuada molestie nisl posuere et. Nunc eu purus sed
                nulla mollis ultrices vel non diam. Fusce in augue at eros commodo placerat in ut purus. Maecenas non lacus
                id turpis rhoncus porttitor. Nunc auctor risus nisl, eget finibus nunc tincidunt at. Vestibulum sed ante
                odio. Duis rutrum, nisl a egestas viverra, nisi felis gravida nisl, quis vulputate velit lectus id nisl.
                Sed vehicula varius mauris sit amet gravida. Phasellus luctus nisi urna. Aenean ultricies, risus at volutpat
                luctus, nisl turpis pulvinar eros, ac volutpat magna urna nec quam. Donec sit amet massa accumsan, venenatis
                eros ac, semper tortor. Cras efficitur pellentesque neque, ut volutpat felis varius vehicula. Nullam suscipit
                malesuada sollicitudin.
                </br></br>
                See more tings here
            </div>
        </div>

        <div class="col-md-4">
            <button class="btn btn-primary" data-toggle="collapse" data-target="#option2">&nbsp;&nbsp; About Me &nbsp;&nbsp;</button>
            <div id="option2" class="collapse">
                <div class="homecard">
                    <img src="img/me3.png" style="height: 100%; width: 100%; margin-bottom: 1%;">
                    <strong>Full Stack Developer / Graphic Designer</strong>
                    <p>Seneca College Computer Programming &amp; Analysis</p>
                    <a href="https://www.github.com/joshcunningsworth"><i class="fa fa-github"></i></a>
                    <a href="mailto:joshcunningsworth@gmail.com"><i class="fa fa-google"></i></a>
                    <a href="https://www.linkedin.com/in/joshcunningsworth"><i class="fa fa-linkedin"></i></a>
                    <a href="skype:joshcunningsworth?userinfo"><i class="fa fa-skype"></i></a>
                </div>
                </br>
                Read more about me!
            </div>
        </div>

        <div class="col-md-4">
            <button class="btn btn-primary" data-toggle="collapse" data-target="#option3">Graphic Design</button>
            <div id="option3" class="collapse">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed pellentesque elit, id efficitur neque. In hac habitasse
                platea dictumst. Suspendisse interdum dapibus purus, malesuada molestie nisl posuere et. Nunc eu purus sed
                nulla mollis ultrices vel non diam. Fusce in augue at eros commodo placerat in ut purus. Maecenas non lacus
                id turpis rhoncus porttitor. Nunc auctor risus nisl, eget finibus nunc tincidunt at. Vestibulum sed ante
                odio. Duis rutrum, nisl a egestas viverra, nisi felis gravida nisl, quis vulputate velit lectus id nisl.
                Sed vehicula varius mauris sit amet gravida. Phasellus luctus nisi urna. Aenean ultricies, risus at volutpat
                luctus, nisl turpis pulvinar eros, ac volutpat magna urna nec quam. Donec sit amet massa accumsan, venenatis
                eros ac, semper tortor. Cras efficitur pellentesque neque, ut volutpat felis varius vehicula. Nullam suscipit
                malesuada sollicitudin.
                </br></br>
                See more graphic design
            </div>
        </div>
    </div>
</div>