<div id="home" class="sec1">
    <div class="container">
        <div class="page-header" id="homeheader">
            <br/><br/><br/>
            <div class="row">
                <div class="col-md-4">
                    <h1 id="titlename">Joshua Cunningham</br><small>programmer / graphic designer</small></h1>
                </div>
                <div class="drone col-md-4">
                    <img class="logo" src="img/droneblack.png" alt="dronelogo" style="height: 80px; width: 80px; display: block; margin: 0 auto;">
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail me" src="img/me4.png" alt="portrait">
            <div class="col-md-9">
                <div class="social">
                    <span><a href="https://www.github.com/joshcunningsworth" class="fa fa-github"></a></span>
                    <span><a href="mailto:joshcunningsworth@gmail.com" class="fa fa-google"></a></span>
                    <span><a href="https://www.linkedin.com/in/joshcunningsworth" class="fa fa-linkedin"></a></span>
                    <span><a href="skype:joshcunningsworth?userinfo" class="fa fa-skype"></a></span>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <h4 id="bio"><small>Graduated with an Ontario Advanced Diploma in Computer Programming &amp; Analysis interested
                in a programming or graphic design related position. I'm eager to participate in a new working environment as
                an individual but also as a team player.<br/><br/>
            </small></h4>


            <div>
                <p class="skill">C++</p>
                <p class="percent">65%</p>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                </div>
            </div>

            <div>
                <p class="skill">Web Development</p>
                <p class="percent">80%</p>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                </div>
            </div>

            <div>
                <p class="skill">Java</p>
                <p class="percent">55%</p>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%">
                </div>
            </div>

            <div>
                <p class="skill">Graphic Design</p>
                <p class="percent">90%</p>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                </div>
            </div>

            <div>
                <p class="skill">SQL</p>
                <p class="percent">70%</p>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                </div>
            </div>

            <hr id="overallspace">
            <div class="progress overall">
                <div class="progress-bar" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width:73%">
                    <span>73% Overall</span>
                </div>
            </div>

        </div>
    </div>
</div>


<div id="cpp" class="sec2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2 style="text-align: center; padding-top: 1%;"><kbd id="c++">c++</kbd></h2>
                <br/>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3 snippet">
                <img class="img-thumbnail center-block" src="img/gradingapp.png" alt="grading application" data-toggle="modal" data-target="#gradingapp">

                <div id="gradingapp" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Grading Application</h4>
                            </div>
                            <div class="modal-body">
                                <img class="center-block" src="img/gradingapp.png" alt="grading application">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">***github link coming soon***</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-1">
            </div>

            <div class="col-md-8">
                <h4>Grading Application</h4>Use lambda expression to define an operation on a set of values reads the values
                from a file and displays them to the user.
            </div>
        </div>

        <hr style="margin: 5% 0 5% 0;">

        <div class="row">
            <div class="col-md-3 snippet">
                <img class="img-thumbnail center-block" src="img/receiptapp.png" alt="receipt application" data-toggle="modal" data-target="#receiptapp">

                <div id="receiptapp" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Receipt Application</h4>
                            </div>
                            <div class="modal-body">
                                <img class="center-block" src="img/receiptapp.png" alt="receipt application">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">***github link coming soon***</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-1">
            </div>

            <div class="col-md-8">
                <h4>Receipt Application</h4>This program will accept a number of receipts the user enters, the name of the store
                and the number of items purchased. The user will then enter the price of the items. The results will be displayed
                to the user.
            </div>
        </div>
    </div>
</div>

<div id="web" class="sec3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2 style="text-align: center; padding-top: 1%;"><kbd>web development</kbd></h2>
                <br/>
            </div>
        </div>
    </div>

    <div class="webdev">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img src="img/climateking.png" alt="climate king" style="width:100%; height: 100%;">
                </div>

                <div class="col-md-1">
                </div>

                <div class="col-md-6">
                    <h4>Climate King Heating &amp; Air Inc.</h4> As a junior full stack developer I worked with a team of other
                    developers and designers to help the company achieve a clean rebrand on their website.<br/><br/>***Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla vel felis at tempus. Sed in justo
                    augue.***
                </div>
            </div>

            <hr style="margin: 5% 0 5% 0;">

            <div class="row">
                <div class="col-md-5">
                    <img src="img/senecacoop.png" alt="seneca co-op" style="width:100%; height: 100%;">
                </div>

                <div class="col-md-1">
                </div>

                <div class="col-md-6">
                    <h4>Seneca Co-op Application Form</h4> A project completed during my studies at Seneca College meant to be
                    an exact replica of the co-op application form they were using at the time.<br/><br/>The form uses HTML
                    for the page content, CSS for the minimal style, JavaScript for alert functionality, and PHP for secure
                    password data using salt hashing.
                </div>
            </div>
        </div>
    </div>
</div>

<div id="java" class="sec4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2 style="text-align: center; padding-top: 1%;"><kbd>java</kbd></h2>
                <br/>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                ***Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla vel felis at tempus. Sed in justo augue. Etiam
                vestibulum vitae est ut mattis. Duis bibendum neque nec quam maximus, at tincidunt nisi interdum. Integer
                mattis elit facilisis mattis fringilla. Duis id varius tortor. Donec nec bibendum enim. Integer bibendum
                fermentum nulla id vehicula. Mauris mattis blandit interdum. Ut luctus elementum pellentesque. Cras vulputate
                ante neque, finibus feugiat nunc sollicitudin ut. Etiam id ex tortor. Mauris vel risus dictum, aliquam nunc
                a, tincidunt nisl.***
            </div>

            <div class="col-md-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla vel felis at tempus. Sed in justo augue. Etiam
                vestibulum vitae est ut mattis. Duis bibendum neque nec quam maximus, at tincidunt nisi interdum. Integer
                mattis elit facilisis mattis fringilla. Duis id varius tortor. Donec nec bibendum enim. Integer bibendum
                fermentum nulla id vehicula. Mauris mattis blandit interdum. Ut luctus elementum pellentesque. Cras vulputate
                ante neque, finibus feugiat nunc sollicitudin ut. Etiam id ex tortor. Mauris vel risus dictum, aliquam nunc
                a, tincidunt nisl.
            </div>

            <div class="col-md-4">
                ***Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla vel felis at tempus. Sed in justo augue. Etiam
                vestibulum vitae est ut mattis. Duis bibendum neque nec quam maximus, at tincidunt nisi interdum. Integer
                mattis elit facilisis mattis fringilla. Duis id varius tortor. Donec nec bibendum enim. Integer bibendum
                fermentum nulla id vehicula. Mauris mattis blandit interdum. Ut luctus elementum pellentesque. Cras vulputate
                ante neque, finibus feugiat nunc sollicitudin ut. Etiam id ex tortor. Mauris vel risus dictum, aliquam nunc
                a, tincidunt nisl.***
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="padding-bottom: 1%;">
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="hero-image gfx sec5" id="design">
    <div id="glitch">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="gfxmobile sec5" style="text-align: center; padding-top: 1%;"><kbd>graphic design</kbd></h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            ***Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla vel felis at tempus. Sed in justo augue. Etiam
            vestibulum vitae est ut mattis. Duis bibendum neque nec quam maximus, at tincidunt nisi interdum. Integer mattis
            elit facilisis mattis fringilla. Duis id varius tortor. Donec nec bibendum enim. Integer bibendum fermentum nulla
            id vehicula. Mauris mattis blandit interdum. Ut luctus elementum pellentesque. Cras vulputate ante neque, finibus
            feugiat nunc sollicitudin ut. Etiam id ex tortor. Mauris vel risus dictum, aliquam nunc a, tincidunt nisl.***
        </div>

        <div class="col-md-4">
            ***Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla vel felis at tempus. Sed in justo augue. Etiam
            vestibulum vitae est ut mattis. Duis bibendum neque nec quam maximus, at tincidunt nisi interdum. Integer mattis
            elit facilisis mattis fringilla. Duis id varius tortor. Donec nec bibendum enim. Integer bibendum fermentum nulla
            id vehicula. Mauris mattis blandit interdum. Ut luctus elementum pellentesque. Cras vulputate ante neque, finibus
            feugiat nunc sollicitudin ut. Etiam id ex tortor. Mauris vel risus dictum, aliquam nunc a, tincidunt nisl.***
        </div>

        <div class="col-md-4">
            ***Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla vel felis at tempus. Sed in justo augue. Etiam
            vestibulum vitae est ut mattis. Duis bibendum neque nec quam maximus, at tincidunt nisi interdum. Integer mattis
            elit facilisis mattis fringilla. Duis id varius tortor. Donec nec bibendum enim. Integer bibendum fermentum nulla
            id vehicula. Mauris mattis blandit interdum. Ut luctus elementum pellentesque. Cras vulputate ante neque, finibus
            feugiat nunc sollicitudin ut. Etiam id ex tortor. Mauris vel risus dictum, aliquam nunc a, tincidunt nisl.***
        </div>
    </div>
</div>


<div id="sql" class="sec6">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2 style="text-align: center; padding-top: 1%;"><kbd>SQL</kbd></h2>
                <br/>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                ***Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla vel felis at tempus. Sed in justo augue. Etiam
                vestibulum vitae est ut mattis. Duis bibendum neque nec quam maximus, at tincidunt nisi interdum. Integer
                mattis elit facilisis mattis fringilla. Duis id varius tortor. Donec nec bibendum enim. Integer bibendum
                fermentum nulla id vehicula. Mauris mattis blandit interdum. Ut luctus elementum pellentesque. Cras vulputate
                ante neque, finibus feugiat nunc sollicitudin ut. Etiam id ex tortor. Mauris vel risus dictum, aliquam nunc
                a, tincidunt nisl.***
            </div>

            <div class="col-md-4">
                ***Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla vel felis at tempus. Sed in justo augue. Etiam
                vestibulum vitae est ut mattis. Duis bibendum neque nec quam maximus, at tincidunt nisi interdum. Integer
                mattis elit facilisis mattis fringilla. Duis id varius tortor. Donec nec bibendum enim. Integer bibendum
                fermentum nulla id vehicula. Mauris mattis blandit interdum. Ut luctus elementum pellentesque. Cras vulputate
                ante neque, finibus feugiat nunc sollicitudin ut. Etiam id ex tortor. Mauris vel risus dictum, aliquam nunc
                a, tincidunt nisl.***
            </div>

            <div class="col-md-4">
                ***Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla vel felis at tempus. Sed in justo augue. Etiam
                vestibulum vitae est ut mattis. Duis bibendum neque nec quam maximus, at tincidunt nisi interdum. Integer
                mattis elit facilisis mattis fringilla. Duis id varius tortor. Donec nec bibendum enim. Integer bibendum
                fermentum nulla id vehicula. Mauris mattis blandit interdum. Ut luctus elementum pellentesque. Cras vulputate
                ante neque, finibus feugiat nunc sollicitudin ut. Etiam id ex tortor. Mauris vel risus dictum, aliquam nunc
                a, tincidunt nisl.***
            </div>
        </div>
    </div>