<!DOCTYPE html>
<html lang="en">

<head>
    <title>joshua cunningham</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/site.css" type="text/css">
    <link rel="stylesheet" href="/animation.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="icon" type="image/png" href="img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">

</head>

<header>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand minilogo"><img src="img/dronegrey.png" style="height: 26px; width: 26px;"></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
                <li id="nav1"><a data-toggle="collapse" data-target=".navbar-collapse.in">home</a></li>
                <li id="nav2"><a data-toggle="collapse" data-target=".navbar-collapse.in">c++</a></li>
                <li id="nav3"><a data-toggle="collapse" data-target=".navbar-collapse.in">web</a></li>
                <li id="nav4"><a data-toggle="collapse" data-target=".navbar-collapse.in">java</a></li>
                <li id="nav5"><a data-toggle="collapse" data-target=".navbar-collapse.in">gfx</a></li>
                <li id="nav6"><a data-toggle="collapse" data-target=".navbar-collapse.in">sql</a></li>
            </ul>
        </div>
    </nav>

</header>

<body data-spy="scroll" data-target=".navbar.navbar-inverse.navbar-static-top" data-offset="50">

<div id="home" class="sec1">
    <div class="container">
        <div class="page-header" id="homeheader">
            <br><br><br>
            <div class="row">
                <div class="col-md-4">
                    <h1 id="titlename">Joshua Cunningham<br><small>programmer / graphic designer</small></h1>
                </div>
                <div class="drone col-md-4">
                    <img class="logo" src="img/droneblack.png" alt="Drone Logo" style="height: 80px; width: 80px; display: block; margin: 0 auto;">
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail me" src="img/me4.png" alt="Self-Portrait" data-toggle="modal" data-target="#mycard">

            <div id="mycard" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Joshua Cunningham</h4><small>programmer / graphic designer</small>
                        </div>
                        <div class="modal-body">
                            <img class="center-block" src="img/me6.png" alt="Self-Portrait" style="width: 75%; height: 75%;">
                        </div>
                        <div class="modal-footer mycard">
                            <a href="https://www.github.com/joshcunningsworth" target="_blank"><i class="fab fa-github"></i></a>
                            <a href="mailto:joshcunningsworth@gmail.com" target="_blank"><i class="fas fa-envelope-square"></i></a>
                            <a href="https://www.linkedin.com/in/joshcunningsworth" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="skype:joshcunningsworth?userinfo" target="_blank"><i class="fab fa-skype"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="social">
                    <span><a href="https://www.github.com/joshcunningsworth" target="_blank" class="fab fa-github" ></a></span>
                    <span><a href="mailto:joshcunningsworth@gmail.com" target="_blank" class="fas fa-envelope-square"></a></span>
                    <span><a href="https://www.linkedin.com/in/joshcunningsworth" target="_blank" class="fab fa-linkedin"></a></span>
                    <span><a href="skype:joshcunningsworth?userinfo" target="_blank" class="fab fa-skype"></a></span>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <h4 id="bio"><small>Graduating with an Ontario Advanced Diploma in Computer Programming &amp; Analysis interested
                in a programming or graphic design related position. I'm eager to participate in a new working environment as
                an individual but also as a team player.<br><br>
                The graph below shows the years of experience with different skills &amp; programming languages.
                It includes time spent studying in school along with practical work experience.
            </small></h4>

            <hr style="margin-top: -1%;">
            <div class="skill" style="margin-top: -1%;">
                <p class="skill">C++</p>
            </div>
            <div class="progress overall">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                </div>
                <div>
                    <span class="yrsexp">2.5 years</span>
                </div>
            </div>

            <div class="skill">
                <p class="skill">Web Development</p>
            </div>
            <div class="progress overall">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                </div>
                <div>
                    <span class="yrsexp">4 years</span>
                </div>
            </div>

            <div class="skill">
                <p class="skill">Java</p>
            </div>
            <div class="progress overall">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:35%">
                </div>
                <div>
                    <span class="yrsexp">1.5 years</span>
                </div>
            </div>

            <div class="skill">
                <p class="skill">Graphic Design</p>
            </div>
            <div class="progress overall">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                </div>
                <div>
                    <span class="yrsexp">4.5 years</span>
                </div>
            </div>

            <div class="skill">
                <p class="skill">SQL</p>
            </div>
            <div class="progress overall">
                <div class="progress-bar" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width:67%">
                </div>
                <div>
                    <span class="yrsexp">3.5 years</span>
                </div>
            </div>

        </div>
    </div>
</div>


<div id="cpp" class="sec2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2 class="headings"><kbd id="c++">c++</kbd></h2>
                <br>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-5 snippet">
                <img class="img-thumbnail center-block" src="img/gradingapp.png" alt="Grading Application Code Snippet" data-toggle="modal"
                    data-target="#gradingapp">

                <div id="gradingapp" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Grading Application</h4>
                            </div>
                            <div class="modal-body">
                                <img class="center-block" src="img/gradingapp.png" alt="Grading Application Code Snippet">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default">
                                    <a href="https://github.com/joshcunningsworth/OOP345/tree/master/ws6_lambdas/src" target="_blank" class="fab fa-github">
                                    <span style="font-family: 'Montserrat', sans-serif; color: black;"> &nbsp;GitHub </span></a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <a href="https://github.com/joshcunningsworth/OOP345/tree/master/ws6_lambdas/src" target="_blank"><h4>Grading Application <i class="fab fa-github"></i></h4></a>
                
                This program uses a lambda expression to define an operation on a set of values then
                it reads the values from a file and displays them to the user. It takes the student ID and grades from the
                file and calculates what the student's letter grade would be.<br>
                <br>For example: if the student has an 80 - 89 in the course their letter grade would be an A, or if they have
                a 90 - 100 their letter grade would be an A+. This application would be useful for calculating student grades
                and averages. It's also practical for parsing through files and outputting the data. An example of the program
                reading the data from a file and outputing would look similar to the example below.<br>
                <br>
                <pre><code>
    Data in file being read:
    <i>1024576 51.37
    1243395 94
    1269780 73.8</i>

    Output from the program:
    1024576 51.37 D
    1243395 94.00 A+
    1269780 73.80 B
                </code></pre>
            </div>
        </div>

        <hr style="margin: 5% 0;">

        <div class="row">
            <div class="col-md-5 snippet">
                <img class="img-thumbnail center-block" src="img/receiptapp.png" alt="Receipt Application Code Snippet" data-toggle="modal"
                    data-target="#receiptapp">

                <div id="receiptapp" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Receipt Application</h4>
                            </div>
                            <div class="modal-body">
                                <img class="center-block" src="img/receiptapp.png" alt="Receipt Aapplication Code Snippet">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default">
                                    <a href="https://github.com/joshcunningsworth/OOP244/tree/master/ws7-8%20_derivedclasses/src" target="_blank" class="fab fa-github">
                                    <span style="font-family: 'Montserrat', sans-serif; color: black;"> &nbsp;GitHub </span></a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <a href="https://github.com/joshcunningsworth/OOP244/tree/master/ws7-8%20_derivedclasses/src" target="_blank"><h4>Receipt Application <i class="fab fa-github"></i></h4></a>
                
                This program will accept a number of receipts the user enters, the name of the store
                that particular receipt is from and the number of items purchased at that store. The user will then enter
                the price of the items purchased. The results will be calculated and displayed to the user.<br>
                <br>This application can be used for entering multiple receipts at a time for tax purposes. An example of calculated
                outputs is shown below, with the user's inputs in italics.<br>
                <br>
                <pre><code>
    Number of Receipts: <i>1</i>
    Name of store: <i>CunninghamConvenience</i>
    Number of items: <i>2</i>

    Prices: 
    Item 1: <i>5.67</i>
    Item 2: <i>3.99</i>

    +--- Results ---+
    CunninghamConvenience
    5.67
    3.99
    Total: 9.66
                </code></pre>
            </div>
        </div>

        <hr style="margin: 5% 0;">

        <div class="row">
            <div class="col-md-5 snippet">
                <img class="img-thumbnail center-block" src="img/gardenapp.png" alt="Garden Application Code Snippet" data-toggle="modal"
                    data-target="#gardenapp">

                <div id="gardenapp" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Garden Application</h4>
                            </div>
                            <div class="modal-body">
                                <img class="center-block" src="img/gardenapp.png" alt="Garden Application Code Snippet">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default">
                                    <a href="https://github.com/joshcunningsworth/OOP244/tree/master/assignment3/src" target="_blank" class="fab fa-github">
                                    <span style="font-family: 'Montserrat', sans-serif; color: black;"> &nbsp;GitHub </span></a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <a href="https://github.com/joshcunningsworth/OOP244/tree/master/assignment3/src" target="_blank"><h4>Garden Application <i class="fab fa-github"></i></h4></a>
                
                This program will allow a user to virtually plan a garden. They can enter the size
                of the garden and where they want crops/plants to be planted. It will accept a character symbol that represents
                the crop/plant in the garden.<br>
                <br>For example: 'c' could symbolize carrots and the user could decide to enter 'w' as a new crop of wheat, assuming
                no other crops were using that character because each crop requires a unique symbol that cannot be shared.
                The user can add crops to their garden setup and view what has already been planted. The view of the garden
                is output in a text based grid with crops inside that looks similar to the grid below.<br>
                <br>
                <pre><code>
    +------------------------+
    |               wwww     |
    |      cc       wwww     |
    |      cc                |
    |      cc             cc |
    | cc                  cc |
    | cc        wwww      cc |
    | cc        wwww         |
    |                        |
    +------------------------+
                </code></pre>
            </div>
        </div>
    </div>
</div>

<div id="web" class="sec3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2 class="headings"><kbd>web development</kbd></h2>
                <br>
            </div>
        </div>
    </div>

    <div class="webdev">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img src="img/tradowsinc.png" alt="Tradows Inc." style="width:100%; height: 100%;">
                    <div class="weblinks">
                        <a href="https://tradows.com/landing/index.html" target="_blank"><span>tradows.com <i class="fas fa-external-link-alt"></i></span></a>
                    </div>
                </div>
        
                <div class="col-md-7">
                    <h4>Tradows Inc.</h4> Developed and designed the webpage for Tradows using their existing logos and slogans.
                    Some images were provided by the company and other I designed from scratch using Adobe Photoshop CC.
                    The site displays a small variety of the products they supply and gives indepth detail on what the company is about.
                    It also contains their important contact details and where to locate their head office.<br><br> 
                    HTML, JavaScript, Bootstrap, and CSS were used to develop the content, style, and functionality of the website. It has been
                    optimized for desktop and mobile devices.
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <img src="img/climateking.png" alt="Climate King Heating & Air Inc." style="width:100%; height: 100%;">
                    <div class="weblinks">
                        <a href="http://climateking.ca" target="_blank"><span>climateking.ca <i class="fas fa-external-link-alt"></i></span></a>
                    </div>
                </div>

                <div class="col-md-7">
                    <h4>Climate King Heating &amp; Air Inc.</h4> Worked with the company as a junior full stack developer for the duration
                    of three months. With help from other developers and designers we were able to achieve a clean rebrand on the
                    Climate King website while still displaying all the various products they service and install.<br><br> 
                    HTML, CSS, and JavaScript were used to develop the content, style, and functionality of the website.
                </div>
            </div>

            <hr style="margin: 5% 0;">

            <div class="row">
                <div class="col-md-5">
                    <img src="img/energycalctool.png" alt="Energy Saving Lightbulb Calculator" style="width:100%; height: 100%;">
                    <div class="weblinks">
                        <a href="/calctool" target="_blank"><span>calctool <i class="fas fa-external-link-alt"></i></span></a>
                        <a href="https://github.com/joshcunningsworth/calcTool" target="_blank" ><span>github <i class="fab fa-github"></i></span></a>
                    </div>
                </div>

                <div class="col-md-7">
                    <h4>Energy Saving Lightbulb Calculator</h4></a> A personal project that I used
                    AngularJS, HTML, CSS, and Bootstrap to create a web application that calculates the amount of money it will
                    potentially cost annually while using different types of lightbulbs.<br><br> The practical use of the app is
                    allowing a user to input the usage per day that a light bulb will be used and have the results of the least
                    energy efficient to most energy efficient lightbulbs displayed. The web app has also been optimized for smaller
                    displays such as mobile phones and tablets.
                </div>
            </div>

            <hr style="margin: 5% 0;">

            <div class="row">
                <div class="col-md-5">
                    <a href="/saturnquiz"><img src="img/saturnquiz.png" alt="Saturn Quiz" style="width:100%; height: 100%;"></a>
                    <div class="weblinks">
                        <a href="https://github.com/joshcunningsworth/saturnquiz" target="_blank"><span>github <i class="fab fa-github"></i></span></a>
                    </div>
                </div>

                <div class="col-md-7">
                    <h4>Saturn Quiz Game</h4></a> A personal project that I used AngularJS, HTML, and CSS to
                    create an interactive game that tests your knowledge on the planet Saturn<br><br>Planning to change
                    the theme of the quiz to something different later on. Possibly a trending topic or based on something
                    I'm more passionate about. <small>(sorry Satrun)</small>
                </div>
            </div>

            <hr style="margin: 5% 0;">

            <div class="row">
                <div class="col-md-5">
                    <img src="img/senecacoop.png" alt="Seneca Co-op Replica Application Form" style="width:100%; height: 100%;">
                    <div class="weblinks">
                        <a href="http://climateking.ca" target="_blank"><span>github <i class="fab fa-github"></i></span></a>
                    </div>
                </div>

                <div class="col-md-7">
                    <h4>Seneca Co-op Application Form</h4> A project completed during my studies at Seneca College meant to be
                    an exact replica of the co-op application form they were using at the time.<br><br>The form uses HTML
                    for the page content, CSS for the minimal style, JavaScript for alert functionality, and PHP for secure
                    password data using salt hashing.
                </div>
            </div>

            <hr style="margin: 5% 0;">

            <div class="row">
                <div class="col-md-5">
                    <img src="img/joshcunningsworth.png" alt="Online Personal Portfolio Webpage" style="width:100%; height: 100%;">
                    <div class="weblinks">
                        <a href="http://joshcunningsworth.herokuapp.com" target="_blank"><span>portfolio <i class="fas fa-external-link-alt"></i></span></a>
                        <a href="https://github.com/joshcunningsworth/portfolio" target="_blank" ><span>github <i class="fab fa-github"></i></span></a>
                    </div>
                </div>

                <div class="col-md-7">

                    <h4>Online Portfolio Webpage</h4></a> An ongoing personal project to showcase some of my achievements, skills, and work.
                    <br><small>(and my fancy hair)</small><br><br>The portfolio uses HTML for the page content, CSS &amp; Bootstrap
                    for the styling, and also uses some JavaScript &amp; jQuery for more specific functionalities. I setup the
                    portfolio with Heroku and I used Node.js for the server. I commit and push changes to my Herokuapp and my GitHub account.
                    <br><br><br>
                    <!-- **for a little gimmick but doesn't work in mobile view** <small><i class="glyphicon glyphicon-arrow-left"></i>&nbsp; you are here!</small> -->
                </div>
            </div>

        </div>
    </div>
</div>

<div id="java" class="sec4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2 class="headings"><kbd>java</kbd></h2>
                <br>
            </div>
        </div>
    </div>

    <div class="col-md-5 snippet">
        <img class="img-thumbnail center-block" src="img/2dcode.png" alt="2D Java Dodge Game" data-toggle="modal"
        data-target="#2dgame">
        
        <div id="2dgame" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">2D Dodge Game</h4>
                    </div>
                    <div class="modal-body">
                        <img class="center-block" src="img/2dplay.png" alt="2D Java Dodge Game" style="height: 100%;">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default">
                            <a target="_blank" href="https://github.com/joshcunningsworth/JAC444/tree/master/2D%20Game/src/dodgegame" class="fab fa-github">
                            <span style="font-family: 'Montserrat', sans-serif; color: black;"> &nbsp;GitHub </span></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <a target="_blank" href="https://github.com/joshcunningsworth/JAC444/tree/master/2D%20Game/src/dodgegame"><h4>2D Dodge Game <i class="fab fa-github"></i></h4></a>
        
        A basic 2D game where you play as an orange ball with the objective of dodging falling red squares for as long as
        possible. The game uses collision detection on the floor/stage, as well as the red squares, and orange ball.
        The games controls are input through a key listener, when the user presses the left or right arrow key
        the orange ball will move in the corresponding direction. Alternatively the user can use the 'A' key or 'D' key for
        left and right movement. When the ball is hit by a falling square the player loses a life and returns to the centre of the stage.
        When all three lives are lost the game is over.<br>
        <br>It's a simple concept for a game but was something I worked on as a side project to practice Java. It was also
        good practice for collision detection and key inputs. Future plans for the game are to implement a difficulty system.
        <br><br>
    </div>

        <hr style="margin: 5% 0;">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="padding-bottom: 1%;">
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="hero-image gfx sec5" id="design">
    <div id="glitch">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="gfxmobile sec5 headings"><kbd>graphic design</kbd></h2>

<div class="container" style="padding-bottom:2%;">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <p>These are a few snippets of my graphic design work using various software.
                My main tools are Adobe Creative Suite 6 or Creative Cloud 2018. in particular Photoshop, After Effects,
                and occasionally Illustrator.
                I also have 3D modelling experience using Cinema4D and 3DS Max.
                All software mentioned has been studied through coursework, used in workplace environments and
                self instructed.
            </p>
        </div>

        <div class="col-md-2"></div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail center-block gfxgrid" src="img/avenge.png" alt="Avenge Motion Graphic" data-toggle="modal" data-target="#avengegraphic">
            <div id="avengegraphic" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Avenge Motion Graphic</h4>
                        </div>
                        <div class="modal-body">
                            <div class="center-block embedvid">
                                <iframe class="center-block" src="https://www.youtube.com/embed/PhaSMB4mFl8?ecver=1" width="560" height="315" frameborder="0" allowfullscreen></iframe>
                            </div>
                            This project was achieved by using Cinema4D for the initial 3D character modelling. 
                            The logo and textures were designed in Photoshop and the post editing and final composition
                            rendered out in After Effects.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <img class="img-thumbnail center-block gfxgrid" src="img/glitchkatakana.png" alt="Glitch Digital Photo Edit" data-toggle="modal"
                data-target="#glitchkatakana">
            <div id="glitchkatakana" class="modal fade" role="dialog">
                <div class="modal-dialog modalgrid">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Glitch Digital Photo Edit</h4>
                        </div>
                        <div class="modal-body">
                            <img class="center-block gfxgrid" src="img/glitchkatakana.png" alt="Glitch Digital Photo Edit">
                            Raw image shot on a Canon EOS Rebel T6i taken into Adobe Photoshop to create the typography,
                            RGB splitting, and artifacting effects. The Japanese Katakana characters「グリッチ」which mean "glitch" in English.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <img class="img-thumbnail center-block gfxgrid" src="img/jerseymockup.png" alt="Mockup Sports Jersey Logo" data-toggle="modal"
                data-target="#mockupjersey">
            <div id="mockupjersey" class="modal fade" role="dialog">
                <div class="modal-dialog modalgrid">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Mockup Sports Jersey Logo</h4>
                        </div>
                        <div class="modal-body">
                            <img class="center-block gfxgrid" src="img/jerseymockup.png" alt="Mockup Sports Jersey Logo">
                            A mockup of what a logo and text would look like on realistic jersey fabrics. Created using
                            Adobe Photoshop.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of 1st grid column -->

        <div class="col-md-4">
            <img class="img-thumbnail center-block gfxgrid" src="img/platinum.png" alt="Platinum Image Film Production Logo" data-toggle="modal"
                data-target="#platinumlogo">
            <div id="platinumlogo" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Platinum Image Film Production Logo</h4>
                        </div>
                        <div class="modal-body">
                            <div class="center-block embedvid">
                                <iframe class="center-block" src="https://www.youtube.com/embed/B0dO4184aKY?ecver=1" width="560" height="315" frameborder="0" allowfullscreen></iframe>
                                The 3D font was created and rendered out of Cinema4D, from there it was exported into Adobe After Effects
                                for post production. The final composition was rendered out of After Effects with the film burns and subtext added.
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <img class="img-thumbnail center-block gfxgrid" src="img/singed.png" alt="Singed Digital Photo Edit" data-toggle="modal"
                data-target="#singed">
            <div id="singed" class="modal fade" role="dialog">
                <div class="modal-dialog modalgrid">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Singed Digital Photo Edit</h4>
                        </div>
                        <div class="modal-body">
                            <img class="center-block gfxgrid" src="img/singed.png" alt="Singed Digital Photo Edit">
                            Raw image shot on a Canon EOS Rebel T6i taken into Adobe Photoshop to create the burnt paper effect.
                            Multiple layers were used for the different rips and burns and the final image was saved in PNG format.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <img class="img-thumbnail center-block gfxgrid" src="img/hatkatakana.png" alt="Mockup Winter Hat Logo" data-toggle="modal"
                data-target="#boxmockup1">
            <div id="boxmockup1" class="modal fade" role="dialog">
                <div class="modal-dialog modalgrid">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Mockup Winter Hat Logo</h4>
                        </div>
                        <div class="modal-body">
                            <img class="center-block gfxgrid" src="img/hatkatakana.png" alt="Mockup Winter Hat Logo">
                            A mockup of what a logo and text would look like on a realistic winter hat. Created using
                            Adobe Photoshop and Cinema4D.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of 2nd grid column -->

        <div class="col-md-4">

            <img class="img-thumbnail center-block gfxgrid" src="img/oceanposters.png" alt="Ocean Graffiti Poster Edit" data-toggle="modal"
                data-target="#oceanposters">
            <div id="oceanposters" class="modal fade" role="dialog">
                <div class="modal-dialog modalgrid">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Ocean Graffiti Poster Edit</h4>
                        </div>
                        <div class="modal-body">
                            <img class="center-block gfxgrid" src="img/oceanposters.png" alt="Ocean Graffiti Poster Edit">
                            Adobe Photoshop was used to achieve the concrete wall and picture frames with realistic
                            lighting and reflections. Shot on an iPhone X.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <img class="img-thumbnail center-block gfxgrid" src="img/mockupboxes.png" alt="Mockup Cardboard Box Packaging" data-toggle="modal"
                data-target="#boxmockup2">
            <div id="boxmockup2" class="modal fade" role="dialog">
                <div class="modal-dialog modalgrid">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Mockup Cardboard Box Packaging</h4>
                        </div>
                        <div class="modal-body">
                            <img class="center-block gfxgrid" src="img/boxmockup2.png" alt="Mockup Carboard Box Packaging">
                            A few cardboard box mockups to portray company logos and packaging labels. Shipping labels
                            created in Adobe Illustrator and exported in Photoshop to be layered over the boxes.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <img class="img-thumbnail center-block gfxgrid" src="img/brochuremockup.png" alt="Mockup Brochure Catalogue" data-toggle="modal"
                data-target="#brochuremockup">
            <div id="brochuremockup" class="modal fade" role="dialog">
                <div class="modal-dialog modalgrid">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Mockup Brochure Catalogue</h4>
                        </div>
                        <div class="modal-body">
                            <img class="center-block gfxgrid" src="img/brochuremockup.png" alt="Mockup Brochure Catalogue">
                            A mock brochure catalogue created in Adobe Photoshop. Designed to give an idea of
                            what a potential company brochure could look like.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of 3rd grid column -->

    </div>
</div>


<div id="sql" class="sec6">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2 class="headings"><kbd>SQL</kbd></h2>
                <br>
            </div>
        </div>
    </div>

    <div class="col-md-5 snippet">
        <img class="img-thumbnail center-block" src="img/sqlscript1.png" alt="SQL Sample Script" data-toggle="modal"
        data-target="#sqlscript">
        
        <div id="sqlscript" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">SQL Sample Script</h4>
                    </div>
                    <div class="modal-body">
                        <img class="center-block" src="img/sqlscript2.png" alt="SQL Sample Script">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default">
                            <a target="_blank" href="https://drive.google.com/open?id=0B5b4lzZ_8swkdWIzaW9PREtJYW8" class="fa fa-google">
                            <span style="font-family: 'Montserrat', sans-serif; color: black;"> &nbsp;Google Drive</span></a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-7">
            <a target="_blank" href="https://drive.google.com/open?id=0B5b4lzZ_8swkdWIzaW9PREtJYW8"><h4>SQL Samples <i class="fa fa-google"></i></h4></a>
        
        I've uploaded a few sample SQL scripts to Google Drive if you're interested in seeing them.<br>
        <br><br><br>

        <pre><code>
    Select statement being ran:
    <i>SELECT department_id, MAX(hire_date) AS "Latest",
    MIN(hire_date) AS "Earliest"
    FROM employees
    WHERE department_id != 10 AND department_id != 20
    AND hire_date < '01-JAN-2000'
    GROUP BY department_id
    ORDER BY "Latest" DESC</i>
                
    Output from the script:
    DEPARTMENT_ID   Latest      Earliest
    --------------- ----------- -----------
    50              16-NOV-99   17-OCT-95
    60              07-FEB-99   03-JAN-90
    80              24-MAR-98   11-MAY-96
    110             07-JUN-94   07-JUN-94
    90              13-JAN-93   17-JUN-87
        </code></pre>
    </div>
    <br><br>
    <hr style="margin: 5% 0;">

</div>

<div id="foot" class="sec7">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <h1 style="color: white;">certificates &amp; badges</h1>
                    <br>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                            <li data-target="#myCarousel" data-slide-to="5"></li>
                            <li data-target="#myCarousel" data-slide-to="6"></li>
                            <li data-target="#myCarousel" data-slide-to="7"></li>
                            <li data-target="#myCarousel" data-slide-to="8"></li>
                            <li data-target="#myCarousel" data-slide-to="9"></li>
                            <li data-target="#myCarousel" data-slide-to="10"></li>
                            <li data-target="#myCarousel" data-slide-to="11"></li>
                            <li data-target="#myCarousel" data-slide-to="12"></li>
                            <li data-target="#myCarousel" data-slide-to="13"></li>
                            <li data-target="#myCarousel" data-slide-to="14"></li>
                            <li data-target="#myCarousel" data-slide-to="15"></li>
                            <li data-target="#myCarousel" data-slide-to="16"></li>
                            <li data-target="#myCarousel" data-slide-to="17"></li>
                            <li data-target="#myCarousel" data-slide-to="18"></li>
                            <li data-target="#myCarousel" data-slide-to="19"></li>
                            <li data-target="#myCarousel" data-slide-to="20"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="/img/certificates_badges/build_your_own_website"
                                alt="Build Your Own Website Certificate - codecademy.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.codecademy.com/joshcunningsworth">codecademy.com</a> completion badge</p>
                                </div>
                            </div>
                      
                            <div class="item">
                                <img src="/img/certificates_badges/web_dev_fullstack_vs_frontend"
                                alt="Web Development Foundations: Full-Stack vs Front-End - lynda.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.lynda.com">Lynda.com</a> certificate of completion</p>
                                </div>
                            </div>
                          
                            <div class="item">
                                <img src="img/certificates_badges/javascript_essential_training"
                                alt="JavaScript Essential Training - lynda.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.lynda.com">Lynda.com</a> certificate of completion</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="img/certificates_badges/learn_git"
                                alt="Learn Git - codecademy.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.codecademy.com/joshcunningsworth">codecademy.com</a> completion badge</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="img/certificates_badges/learning_git_github"
                                alt="Learning Git and GitHub - lynda.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.lynda.com">Lynda.com</a> certificate of completion</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="img/certificates_badges/c++_move_semantics"
                                alt="C++: Move Semantics - lynda.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.lynda.com">Lynda.com</a> certificate of completion</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="img/certificates_badges/c++_smart_pointers"
                                alt="C++: Smart Pointers - lynda.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.lynda.com">Lynda.com</a> certificate of completion</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="img/certificates_badges/php_arrays"
                                alt="PHP Arrays - codecademy.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.codecademy.com/joshcunningsworth">codecademy.com</a> completion badge</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="img/certificates_badges/css_essential_training_1"
                                alt="CSS Essential Training 1 - lynda.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.lynda.com">Lynda.com</a> certificate of completion</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="img/certificates_badges/html_basics"
                                alt="HTML Basics - codecademy.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.codecademy.com/joshcunningsworth">codecademy.com</a> completion badge</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="img/certificates_badges/css_essential_training_2"
                                alt="CSS Essential Training 2 - lynda.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.lynda.com">Lynda.com</a> certificate of completion</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="img/certificates_badges/html_basics_ii"
                                alt="HTML Basics II - codecademy.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.codecademy.com/joshcunningsworth">codecademy.com</a> completion badge</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="img/certificates_badges/ios_app_dev_essential_courses"
                                alt="iOS App Development: Essential Courses - lynda.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.lynda.com">Lynda.com</a> certificate of completion</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="img/certificates_badges/learning_app_store_optimization"
                                alt="Learning App Store Optimization  for iOS and Android - lynda.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.lynda.com">Lynda.com</a> certificate of completion</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="img/certificates_badges/learning_sql_programming"
                                alt="Learning SQL Programming - lynda.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.lynda.com">Lynda.com</a> certificate of completion</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="img/certificates_badges/learn_sql_queries"
                                alt="Learn SQL: Queries - codecademy.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.codecademy.com/joshcunningsworth">codecademy.com</a> completion badge</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="img/certificates_badges/mysql_essential_training"
                                alt="MySQL Essential Training - lynda.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.lynda.com">Lynda.com</a> certificate of completion</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="img/certificates_badges/learn_sql_manipulation"
                                alt="Learn SQL: Manipulation - codecademy.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.codecademy.com/joshcunningsworth">codecademy.com</a> completion badge</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="img/certificates_badges/sql_essential_training"
                                alt="SQL Essential Training - lynda.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.lynda.com">Lynda.com</a> certificate of completion</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="img/certificates_badges/learn_sql_aggregate_functions"
                                alt="Learn SQL: Aggregate Functions - codecademy.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.codecademy.com/joshcunningsworth">codecademy.com</a> completion badge</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="img/certificates_badges/sql_tips_tricks_techniques"
                                alt="SQL Tips, Tricks, and Techniques - lynda.com" style="width:100%;">
                                <div class="carousel-caption">
                                    <p><a target="_blank" href="https://www.lynda.com">Lynda.com</a> certificate of completion</p>
                                </div>
                            </div>

                        </div>
                      
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $('.nav>li').on('click', function() {
        var navscroll = (this.id)[this.id.length-1];

        $('html, body').animate({
            scrollTop: $('.sec'+navscroll).offset().top - 40
        }, 500);
    });
</script>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <a href="https://github.com/"> YA! </a> -->
            </div>
        </div>
    </div>
</footer>

<script src="script.js"></script>

</body>

</html>