<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1 id="titlename">Joshua Cunningham</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="drone col-md-4">
            <img class="logo" src="img/drone logo black.png" style="	height: 50px;
	width: 50px;">
        </div>
        <div class="col-md-4">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <button data-toggle="collapse" data-target="#demo1">Collapsible</button>

            <div id="demo1" class="collapse">
                Lorem ipsum dolor text....
            </div>

            <button data-toggle="collapse" data-target="#demo2">Collapsible</button>

            <div id="demo2" class="collapse">
                Lorem ipsum dolor text....
            </div>

            <button data-toggle="collapse" data-target="#demo3">Collapsible</button>

            <div id="demo3" class="collapse">
                Lorem ipsum dolor text....
            </div>

        </div>
    </div>
</div>