@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body,html{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    /*background-color: #B095C7;*/
}

body{
	color: black;
}

footer{
    float: bottom;
    position: fixed;
}

li:hover{
    background-color: #B095C7 !important;
    transition: 0.3s;
}

nav li{
    border: 2px solid #222;
}

#titlename{
    margin-top: -3%;
    color: black;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 325px;
    max-height: 650px;
    padding-bottom: 1%;
    margin: auto;
    text-align: center;
}

.card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.card .container {
    padding: 0 16px;
}

#bio{
    text-align: left;
    margin-left: -10%;
    margin-right: 20%;
}

.title {
    color: grey;
    font-size: 18px;
}

.fa{
    padding: 0% 2% 0% 2%;
}

.drone.col-md-4{
    padding-bottom: 1.5%;
}

.bodycontainer{
    box-sizing: border-box;
}

.progress{
    margin-left: -10%;
    margin-right: 20%;
}

.skill{
    text-align: left;
    margin-left: -10%;
}

.progress-bar{
    background-color: #222;
}

.progress{
    height: 5px;
}

.percent{
    text-align: right;
}

.progress.overall{
    height: 18px;
}

#ting{
    margin-left: -10%;
}

.skill, .percent{
    width:45%;
    display:inline-block;
}