@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
body,html{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    /*background-color: #B095C7;*/
    background-color: white;
}

body{
	color: black;
	font-family: 'Roboto', sans-serif !important;
}

footer{
    float: bottom;
    position: fixed;
}

li:hover{
    background-color: #B095C7 !important;
    transition: 0.3s;
}

nav li{
    border: 2px solid #222;
}

.headcontainer{
    padding: 0 0 0 5%;
    text-align: left;
}

.bodycontainer{
    text-align: center;
}

#option1{
    margin: 5%;
}

#option2{
    margin: 5%;
}

#option3{
    margin: 5%;
}

#titlename{
    margin-top: -3%;
    color: black;
}

strong{
    color: black;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 325px;
    max-height: 650px;
    padding-bottom: 1%;
    margin: auto;
    text-align: center;
}

.card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.card .container {
    padding: 0 16px;
}

.homecard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 225px;
    max-height: 550px;
    padding-bottom: 1%;
    margin: 8% auto;
    text-align: center;
    background-color: #B095C7;
}

.homecard a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.homecard .container {
    padding: 0 16px;
}

.title {
    color: grey;
    font-size: 18px;
}

.fa{
    padding: 0% 2% 0% 2%;
}

.drone.col-md-4{
    padding-bottom: 1.5%;
}

button{
    padding-left: 10%;
    display: inline-block;
}

.btn.btn-primary{
    background-color: #888;
    border: solid 1px #666 !important;
    box-shadow: 2px 2px 0px 2px #999;
}

.btn.btn-primary:hover{
    background-color: #555;
}